
.about-page {
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  height: 700px;
  //-webkit-transition: all 0.5s ease-in;
  //-o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin: 60px;
  
  span {
    font-size: 20px;
  }

  h1::before {
    content: "function";
    font-size: 20px;
    padding-right: 10px;
    color: grey;
  }
  h1 {
    margin: 0px;
    line-height: 22px;
  }
  h1::after {
    content: "{";
    font-size: 20px;
    padding-left: 10px;
    color: grey
  }
  .title-text::after {
    content: " return (";
    font-size: 20px;
    padding-left: 20px;
    color: grey;
  }
  .empty-span::after {
    content: "<div>...";
    font-size: 20px;
    padding-left: 40px;
    color: grey;
  }
}
