section {
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-top: 0px;
}

.home {
  background-image: url();
  background-size: cover;
}

.home-content {
  display:flex;
  height: calc(100vh - 20px);
  min-height: 700px;
  margin-left: 5%;
}

.intro {
  flex: 1;
  z-index: 3;
  position: absolute;
  padding-top: 20%;
  max-width: 550px;
  margin-left: 20px;
  height: 500px;

  h3{
    color: rgb(56, 56, 56);

  }

  span {
    cursor: pointer;
    transition: 0.5s;
  }

  span:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 120px #fff;
  }
  p {
    line-height: 1em;
    color: var(--text-color);
    max-width: 500px;
  }
}

.welcome {
  flex: 1;
  z-index: -1;
}



/* Responsiveness definition*/
@media (max-width: 500px) {
  .home-content .intro {
    max-width: 80%;
  }
}


/* Resume download styling goes here*/

.resume_btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  overflow: hidden;
}




#button_p {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.ac_btn {
  width: 60px;
  padding: 4px 19px;
  color: var(--secondary-color);
  position: relative;
  border: var(--secondary-color) 2px solid;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  margin-right: 20px;
}

.ac_btn:hover {
  box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.ac_btn:hover .one {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .two {
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .three {
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
  z-index: -4;
}

.ac_btn .two {
  background-color: var(--primary-color);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

.ac_btn .three {
  background-color: var(--secondary-color);
  z-index: -2;
  transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

#contact {
  height: 500px;
  background-color: white;
  position: relative;
  z-index: 2;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
